USE [master]
GO
/****** Object:  Database [EscuelaConduccion]    Script Date: 8/01/2020 12:01:24 p. m. ******/
CREATE DATABASE [EscuelaConduccion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EscuelaConduccion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EscuelaConduccion.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EscuelaConduccion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EscuelaConduccion_log.ldf' , SIZE = 7552KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EscuelaConduccion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EscuelaConduccion]
GO
/****** Object:  User [su]    Script Date: 8/01/2020 12:01:25 p. m. ******/
CREATE USER [su] FOR LOGIN [su] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Rule [R_DOM_ESTADO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
CREATE RULE [dbo].[R_DOM_ESTADO] 
AS
@column in ('A','I') and @column = upper(@column)
GO
/****** Object:  Rule [R_DOM_SINO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
CREATE RULE [dbo].[R_DOM_SINO] 
AS
@column in ('SI','NO') and @column = upper(@column)
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_ESTADO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
CREATE TYPE [dbo].[DOM_ESTADO] FROM [varchar](1) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_SINO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
CREATE TYPE [dbo].[DOM_SINO] FROM [varchar](2) NULL
GO
/****** Object:  Table [dbo].[CIUDAD]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
 CONSTRAINT [PK_CIUDAD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[ID] [int] NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
 CONSTRAINT [PK_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_CIUDAD]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VIEW_CIUDAD] as
SELECT CIUDAD.ID, DEPARTAMENTO.NOMBRE AS DEPARTAMENTO, CIUDAD.NOMBRE AS CIUDAD
FROM DEPARTAMENTO INNER JOIN CIUDAD ON (DEPARTAMENTO.ID = CIUDAD.ID_DEPARTAMENTO)
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_GENERO] [int] NOT NULL,
	[ID_CIUDAD] [int] NOT NULL,
	[ID_TIPO_DOCUMENTO] [int] NOT NULL,
	[IDENTIFICACION] [varchar](20) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[DIRECCION] [varchar](100) NOT NULL,
	[TELEFONO] [varchar](50) NULL,
	[CELULAR] [varchar](10) NULL,
	[CORREO] [varchar](50) NOT NULL,
	[FECHA_NACIMIENTO] [datetime] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENERO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](20) NOT NULL,
 CONSTRAINT [PK_GENERO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DOCUMENTO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DOCUMENTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](20) NOT NULL,
	[ABREVIACION] [varchar](3) NOT NULL,
 CONSTRAINT [PK_TIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_CLIENTE]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VIEW_CLIENTE] as
SELECT CLIENTE.ID,
TIPO_DOCUMENTO.TIPO AS TIPO_DOCUMENTO,
CLIENTE.IDENTIFICACION,
CLIENTE.NOMBRES,
CLIENTE.APELLIDOS,
CLIENTE.DIRECCION,
VIEW_CIUDAD.CIUDAD,
VIEW_CIUDAD.DEPARTAMENTO,
GENERO.NOMBRE AS GENERO,
ISNULL(CLIENTE.TELEFONO,'') AS TELEFONO,
ISNULL(CLIENTE.CELULAR,'') AS CELULAR,
CLIENTE.CORREO,
CONVERT(VARCHAR(11), CLIENTE.FECHA_NACIMIENTO, 103) AS FECHA_NACIMIENTO
FROM
CLIENTE 
LEFT JOIN TIPO_DOCUMENTO ON (CLIENTE.ID_TIPO_DOCUMENTO = TIPO_DOCUMENTO.ID)
LEFT JOIN VIEW_CIUDAD ON (CLIENTE.ID_CIUDAD = VIEW_CIUDAD.ID)
LEFT JOIN GENERO ON (CLIENTE.ID_GENERO = GENERO.ID)
GO
/****** Object:  Table [dbo].[ACUERDO_ESTADO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACUERDO_ESTADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ACUERDO_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACUERDO_PAGO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACUERDO_PAGO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_LIQUIDACION] [int] NOT NULL,
	[ID_ACUERDO_ESTADO] [int] NOT NULL,
	[NUMERO_ACUERDO] [varchar](10) NOT NULL,
	[FECHA_ACUERDO] [datetime] NOT NULL,
 CONSTRAINT [PK_ACUERDO_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACUERDO_PAGO_DETALLE]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACUERDO_PAGO_DETALLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ACUERDO_PAGO] [int] NOT NULL,
	[ID_RECIBO] [int] NULL,
	[NUMERO_CUOTA] [int] NOT NULL,
	[VALOR] [float] NOT NULL,
	[FECHA_LIMITE_PAGO] [datetime] NOT NULL,
	[PORCENTAJE] [float] NOT NULL,
 CONSTRAINT [PK_ACUERDO_PAGO_DETALLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONFIGURACIONINICIAL]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIGURACIONINICIAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
	[VALOR] [varchar](50) NOT NULL,
	[ESTADO] [varchar](1) NOT NULL,
 CONSTRAINT [PK_CONFIGURACIONINICIAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIAFESTIVO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIAFESTIVO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[DESCRIPCION] [varchar](20) NOT NULL,
 CONSTRAINT [PK_DIAFESTIVO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[ID] [int] NOT NULL,
	[ID_FACTURA_ESTADO] [int] NOT NULL,
	[ID_LIQUIDACION] [int] NOT NULL,
	[NUMERO_FACTURA] [varchar](20) NOT NULL,
	[DISPONIBLE] [dbo].[DOM_SINO] NOT NULL,
	[ARCHIVO_FISICO] [image] NOT NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA_ESTADO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA_ESTADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_FACTURA_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURACONSECUTIVO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURACONSECUTIVO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RANGO_INICIAL] [float] NOT NULL,
	[RANGO_FINAL] [float] NOT NULL,
	[SUFIJO] [varchar](3) NULL,
	[RESOLUCION] [varchar](20) NOT NULL,
	[FECHA_RESOLUCION] [datetime] NOT NULL,
 CONSTRAINT [PK_FACTURACONSECUTIVO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIQUIDACION]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIQUIDACION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_TIPO_LIQUIDACION] [int] NULL,
	[FECHA_LIQUIDACION] [datetime] NOT NULL,
	[TOTAL] [float] NOT NULL,
 CONSTRAINT [PK_LIQUIDACION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIQUIDACION_DETALLE]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIQUIDACION_DETALLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_LIQUIDACION] [int] NOT NULL,
	[ID_TARIFA_DETALLE] [int] NOT NULL,
	[VALOR_CONCEPTO] [float] NOT NULL,
 CONSTRAINT [PK_LIQUIDACION_DETALLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PERFIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL_DETALLE]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL_DETALLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERFIL] [int] NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
	[MODULO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PERFIL_DETALLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECIBO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECIBO](
	[ID] [int] NOT NULL,
	[ID_LIQUIDACION] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[NUMERO_RECIBO] [varchar](10) NOT NULL,
	[FECHA_RECIBO] [datetime] NOT NULL,
	[FECHA_REGISTRO_PAGO] [datetime] NULL,
	[FECHA_PAGO] [datetime] NULL,
	[VALOR] [float] NOT NULL,
	[FECHA_VENCIMIENTO] [datetime] NOT NULL,
	[FECHA_ENTRAMITE] [datetime] NULL,
	[FECHA_ANULADO] [datetime] NULL,
	[FECHA_PAGOANULADO] [datetime] NULL,
	[FECHA_PROCESADO] [datetime] NULL,
	[ARCHIVO_FISICO] [image] NOT NULL,
 CONSTRAINT [PK_RECIBO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECIBO_ESTADO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECIBO_ESTADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[DESCRIPCION_ESTADO] [varchar](100) NULL,
 CONSTRAINT [PK_RECIBO_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALARIOMINIMO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARIOMINIMO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VIGENCIA] [int] NOT NULL,
	[VALOR] [float] NOT NULL,
 CONSTRAINT [PK_SALARIOMINIMO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARIFA]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARIFA](
	[ID] [int] NOT NULL,
	[ID_VIGENCIA] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ESTADO] [dbo].[DOM_ESTADO] NOT NULL,
 CONSTRAINT [PK_TARIFA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARIFA_CONCEPTO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARIFA_CONCEPTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](500) NULL,
	[ESTADO] [dbo].[DOM_ESTADO] NOT NULL,
 CONSTRAINT [PK_TARIFA_CONCEPTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARIFA_DETALLE]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARIFA_DETALLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_TARIFA] [int] NOT NULL,
	[ID_TARIFA_CONCEPTO] [int] NOT NULL,
	[TERCERO] [dbo].[DOM_SINO] NOT NULL,
	[DESCONTABLE] [dbo].[DOM_SINO] NOT NULL,
	[FORMULA] [varchar](8000) NOT NULL,
 CONSTRAINT [PK_TARIFA_DETALLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARIFACATEGORIA]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARIFACATEGORIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TARIFACATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_LIQUIDACION]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_LIQUIDACION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TIPO_LIQUIDACION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERFIL] [int] NOT NULL,
	[ID_TIPO_DOCUMENTO] [int] NOT NULL,
	[LOGIN] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](1000) NOT NULL,
	[FECHA_INGRESO] [datetime] NOT NULL,
	[FECHA_RETIRO] [datetime] NULL,
	[IDENTIFICACION] [varchar](20) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[ESTADO] [dbo].[DOM_ESTADO] NOT NULL,
	[FOTO] [image] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIGENCIA]    Script Date: 8/01/2020 12:01:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIGENCIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [int] NOT NULL,
 CONSTRAINT [PK_VIGENCIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CIUDAD] ON 

INSERT [dbo].[CIUDAD] ([ID], [ID_DEPARTAMENTO], [NOMBRE]) VALUES (1, 1, N'LETICIA')
INSERT [dbo].[CIUDAD] ([ID], [ID_DEPARTAMENTO], [NOMBRE]) VALUES (2, 1, N'EL ENCANTO')
INSERT [dbo].[CIUDAD] ([ID], [ID_DEPARTAMENTO], [NOMBRE]) VALUES (3, 1, N'LA CHORRERA')
GO
SET IDENTITY_INSERT [dbo].[CIUDAD] OFF
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([ID], [ID_GENERO], [ID_CIUDAD], [ID_TIPO_DOCUMENTO], [IDENTIFICACION], [NOMBRES], [APELLIDOS], [DIRECCION], [TELEFONO], [CELULAR], [CORREO], [FECHA_NACIMIENTO]) VALUES (2, 2, 303, 2, N'123', N'ROSA', N'MELANO', N'CARRERA 54 #11-15', NULL, N'3156182553', N'rosamelano@hotmail.com', CAST(N'1989-10-17T00:00:00.000' AS DateTime))
INSERT [dbo].[CLIENTE] ([ID], [ID_GENERO], [ID_CIUDAD], [ID_TIPO_DOCUMENTO], [IDENTIFICACION], [NOMBRES], [APELLIDOS], [DIRECCION], [TELEFONO], [CELULAR], [CORREO], [FECHA_NACIMIENTO]) VALUES (3, 1, 399, 2, N'76326080', N'FABIÁN ENRIQUE', N'ORDOÑEZ VELASCO', N'CALLE 10 #3-26', NULL, N'3127857713', N'mmbtrs@gmail.com', CAST(N'1977-04-27T00:00:00.000' AS DateTime))
INSERT [dbo].[CLIENTE] ([ID], [ID_GENERO], [ID_CIUDAD], [ID_TIPO_DOCUMENTO], [IDENTIFICACION], [NOMBRES], [APELLIDOS], [DIRECCION], [TELEFONO], [CELULAR], [CORREO], [FECHA_NACIMIENTO]) VALUES (4, 2, 707, 3, N'858692', N'MARÍA JOSÉ', N'ORDÓÑEZ OSORIO', N'CALLE 4 A #26-75', NULL, NULL, N'majo@gmail.com', CAST(N'2017-12-02T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
INSERT [dbo].[DEPARTAMENTO] ([ID], [NOMBRE]) VALUES (1, N'AMAZONAS')
INSERT [dbo].[DEPARTAMENTO] ([ID], [NOMBRE]) VALUES (2, N'ANTIOQUIA')
INSERT [dbo].[DEPARTAMENTO] ([ID], [NOMBRE]) VALUES (3, N'ARAUCA')
SET IDENTITY_INSERT [dbo].[GENERO] ON 

INSERT [dbo].[GENERO] ([ID], [NOMBRE]) VALUES (1, N'MASCULINO')
INSERT [dbo].[GENERO] ([ID], [NOMBRE]) VALUES (2, N'FEMENINO')
SET IDENTITY_INSERT [dbo].[GENERO] OFF
SET IDENTITY_INSERT [dbo].[TIPO_DOCUMENTO] ON 

INSERT [dbo].[TIPO_DOCUMENTO] ([ID], [TIPO], [ABREVIACION]) VALUES (2, N'CÉDULA', N'CC.')
INSERT [dbo].[TIPO_DOCUMENTO] ([ID], [TIPO], [ABREVIACION]) VALUES (3, N'TARJETA IDENTIDAD', N'TI.')
INSERT [dbo].[TIPO_DOCUMENTO] ([ID], [TIPO], [ABREVIACION]) VALUES (4, N'PASAPORTE', N'PAS')
SET IDENTITY_INSERT [dbo].[TIPO_DOCUMENTO] OFF
ALTER TABLE [dbo].[ACUERDO_PAGO]  WITH CHECK ADD  CONSTRAINT [FK_ACUERDO__REF_ACUER_ACUERDOESTADO_] FOREIGN KEY([ID_ACUERDO_ESTADO])
REFERENCES [dbo].[ACUERDO_ESTADO] ([ID])
GO
ALTER TABLE [dbo].[ACUERDO_PAGO] CHECK CONSTRAINT [FK_ACUERDO__REF_ACUER_ACUERDOESTADO_]
GO
ALTER TABLE [dbo].[ACUERDO_PAGO]  WITH CHECK ADD  CONSTRAINT [FK_ACUERDO__REF_ACUER_LIQUIDAC] FOREIGN KEY([ID_LIQUIDACION])
REFERENCES [dbo].[LIQUIDACION] ([ID])
GO
ALTER TABLE [dbo].[ACUERDO_PAGO] CHECK CONSTRAINT [FK_ACUERDO__REF_ACUER_LIQUIDAC]
GO
ALTER TABLE [dbo].[ACUERDO_PAGO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_ACUERDO__REF_ACUER_ACUERDODETALLE_] FOREIGN KEY([ID_ACUERDO_PAGO])
REFERENCES [dbo].[ACUERDO_PAGO] ([ID])
GO
ALTER TABLE [dbo].[ACUERDO_PAGO_DETALLE] CHECK CONSTRAINT [FK_ACUERDO__REF_ACUER_ACUERDODETALLE_]
GO
ALTER TABLE [dbo].[ACUERDO_PAGO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_ACUERDO__REF_ACUER_RECIBO] FOREIGN KEY([ID_RECIBO])
REFERENCES [dbo].[RECIBO] ([ID])
GO
ALTER TABLE [dbo].[ACUERDO_PAGO_DETALLE] CHECK CONSTRAINT [FK_ACUERDO__REF_ACUER_RECIBO]
GO
ALTER TABLE [dbo].[CIUDAD]  WITH CHECK ADD  CONSTRAINT [FK_CIUDAD_REF_CIUDA_DEPARTAM] FOREIGN KEY([ID_DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTO] ([ID])
GO
ALTER TABLE [dbo].[CIUDAD] CHECK CONSTRAINT [FK_CIUDAD_REF_CIUDA_DEPARTAM]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_REF_CLIEN_CIUDAD] FOREIGN KEY([ID_CIUDAD])
REFERENCES [dbo].[CIUDAD] ([ID])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_REF_CLIEN_CIUDAD]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_REF_CLIEN_GENERO] FOREIGN KEY([ID_GENERO])
REFERENCES [dbo].[GENERO] ([ID])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_REF_CLIEN_GENERO]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_REF_CLIEN_TIPO_DOC] FOREIGN KEY([ID_TIPO_DOCUMENTO])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([ID])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_REF_CLIEN_TIPO_DOC]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_REF_FACTU_FACTURA_] FOREIGN KEY([ID_FACTURA_ESTADO])
REFERENCES [dbo].[FACTURA_ESTADO] ([ID])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_REF_FACTU_FACTURA_]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_REF_FACTU_LIQUIDAC] FOREIGN KEY([ID_LIQUIDACION])
REFERENCES [dbo].[LIQUIDACION] ([ID])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_REF_FACTU_LIQUIDAC]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_REFFACTUR_FACTURAC] FOREIGN KEY([ID])
REFERENCES [dbo].[FACTURACONSECUTIVO] ([ID])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_REFFACTUR_FACTURAC]
GO
ALTER TABLE [dbo].[LIQUIDACION]  WITH CHECK ADD  CONSTRAINT [FK_LIQUIDAC_REF_LIQUI_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[LIQUIDACION] CHECK CONSTRAINT [FK_LIQUIDAC_REF_LIQUI_CLIENTE]
GO
ALTER TABLE [dbo].[LIQUIDACION]  WITH CHECK ADD  CONSTRAINT [FK_LIQUIDAC_REFERENCE_TIPO_LIQ] FOREIGN KEY([ID_TIPO_LIQUIDACION])
REFERENCES [dbo].[TIPO_LIQUIDACION] ([ID])
GO
ALTER TABLE [dbo].[LIQUIDACION] CHECK CONSTRAINT [FK_LIQUIDAC_REFERENCE_TIPO_LIQ]
GO
ALTER TABLE [dbo].[LIQUIDACION_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_LIQUIDAC_REF_LIQUI_LIQUIDAC] FOREIGN KEY([ID_LIQUIDACION])
REFERENCES [dbo].[LIQUIDACION] ([ID])
GO
ALTER TABLE [dbo].[LIQUIDACION_DETALLE] CHECK CONSTRAINT [FK_LIQUIDAC_REF_LIQUI_LIQUIDAC]
GO
ALTER TABLE [dbo].[LIQUIDACION_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_LIQUIDAC_REF_LIQUI_TARIFA_D] FOREIGN KEY([ID_TARIFA_DETALLE])
REFERENCES [dbo].[TARIFA_DETALLE] ([ID])
GO
ALTER TABLE [dbo].[LIQUIDACION_DETALLE] CHECK CONSTRAINT [FK_LIQUIDAC_REF_LIQUI_TARIFA_D]
GO
ALTER TABLE [dbo].[PERFIL_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_PERFIL_D_REF_PERFI_PERFIL] FOREIGN KEY([ID_PERFIL])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[PERFIL_DETALLE] CHECK CONSTRAINT [FK_PERFIL_D_REF_PERFI_PERFIL]
GO
ALTER TABLE [dbo].[RECIBO]  WITH CHECK ADD  CONSTRAINT [FK_RECIBO_REF_LIQUI_LIQUIDAC] FOREIGN KEY([ID_LIQUIDACION])
REFERENCES [dbo].[LIQUIDACION] ([ID])
GO
ALTER TABLE [dbo].[RECIBO] CHECK CONSTRAINT [FK_RECIBO_REF_LIQUI_LIQUIDAC]
GO
ALTER TABLE [dbo].[RECIBO]  WITH CHECK ADD  CONSTRAINT [FK_RECIBO_REF_RECIB_RECIBO_E] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[RECIBO_ESTADO] ([ID])
GO
ALTER TABLE [dbo].[RECIBO] CHECK CONSTRAINT [FK_RECIBO_REF_RECIB_RECIBO_E]
GO
ALTER TABLE [dbo].[TARIFA]  WITH CHECK ADD  CONSTRAINT [FK_TARIFA_REF_TARIF_VIGENCIA] FOREIGN KEY([ID_VIGENCIA])
REFERENCES [dbo].[VIGENCIA] ([ID])
GO
ALTER TABLE [dbo].[TARIFA] CHECK CONSTRAINT [FK_TARIFA_REF_TARIF_VIGENCIA]
GO
ALTER TABLE [dbo].[TARIFA]  WITH CHECK ADD  CONSTRAINT [FK_TARIFA_REFTARIFA_TARIFACA] FOREIGN KEY([ID])
REFERENCES [dbo].[TARIFACATEGORIA] ([ID])
GO
ALTER TABLE [dbo].[TARIFA] CHECK CONSTRAINT [FK_TARIFA_REFTARIFA_TARIFACA]
GO
ALTER TABLE [dbo].[TARIFA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_TARIFA_D_REF_TARIF_TARIFA] FOREIGN KEY([ID_TARIFA])
REFERENCES [dbo].[TARIFA] ([ID])
GO
ALTER TABLE [dbo].[TARIFA_DETALLE] CHECK CONSTRAINT [FK_TARIFA_D_REF_TARIF_TARIFA]
GO
ALTER TABLE [dbo].[TARIFA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_TARIFA_D_REF_TARIF_TARIFA_C] FOREIGN KEY([ID_TARIFA_CONCEPTO])
REFERENCES [dbo].[TARIFA_CONCEPTO] ([ID])
GO
ALTER TABLE [dbo].[TARIFA_DETALLE] CHECK CONSTRAINT [FK_TARIFA_D_REF_TARIF_TARIFA_C]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_REF_USUAR_PERFIL] FOREIGN KEY([ID_PERFIL])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_REF_USUAR_PERFIL]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_REF_USUAR_TIPO_DOC] FOREIGN KEY([ID_TIPO_DOCUMENTO])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_REF_USUAR_TIPO_DOC]
GO
USE [master]
GO
