<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EscuelaConduccion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <EscuelaConduccion.Properties.Settings>
            <setting name="EscuelaConduccion_wsServiciosDEPARTAMENTO_ServiciosDEPARTAMENTO"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosDEPARTAMENTO.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosCIUDAD_ServiciosCIUDAD"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosCIUDAD.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosVIEW_CIUDAD_ServiciosVIEW_CIUDAD"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosVIEW_CIUDAD.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosCLIENTE_ServiciosCLIENTE"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosCLIENTE.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosVIEW_CLIENTE_ServiciosVIEW_CLIENTE"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosVIEW_CLIENTE.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosTIPO_DOCUMENTO_ServiciosTIPO_DOCUMENTO"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosTIPO_DOCUMENTO.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosGENERO_ServiciosGENERO"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosGENERO.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosTARIFA_ServiciosTARIFA"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosTARIFA.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosTARIFA_DETALLE_ServiciosTARIFA_DETALLE"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosTARIFA_DETALLE.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosVIGENCIA_ServiciosVIGENCIA"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosVIGENCIA.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosLIQUIDACION_DETALLE_ServiciosLIQUIDACION_DETALLE"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosLIQUIDACION_DETALLE.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosTIPO_LIQUIDACION_ServiciosTIPO_LIQUIDACION"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosTIPO_LIQUIDACION.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosLIQUIDACION_ServiciosLIQUIDACION"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosLIQUIDACION.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_WSServiciosRECIBO_ServiciosRECIBO"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosRECIBO.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosRECIBO_ESTADO_ServiciosRECIBO_ESTADO"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosRECIBO_ESTADO.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosViewliquidacion_ServiciosViewliquidacion"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosViewliquidacion.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosFACTURACONSECUTIVO_ServiciosFACTURACONSECUTIVO"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosFACTURACONSECUTIVO.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosViewrecibo_ServiciosViewrecibo"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosViewrecibo.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_WSServiciosFormadepago_ServiciosFormadepago"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosFormadepago.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosPagos_ServiciosPagos"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosPagos.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosFacturaconsecutivodetalle_ServiciosFacturaconsecutivodetalle"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosFacturaconsecutivodetalle.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosFACTURA_ServiciosFACTURA"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosFACTURA.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosSQL_ServiciosSQL"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosSQL.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosACUERDO_PAGO_DETALLE_ServiciosACUERDO_PAGO_DETALLE"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosACUERDO_PAGO_DETALLE.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosACUERDO_ESTADO_ServiciosACUERDO_ESTADO"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosACUERDO_ESTADO.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosACUERDO_PAGO_ServiciosACUERDO_PAGO"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosACUERDO_PAGO.asmx</value>
            </setting>
            <setting name="EscuelaConduccion_wsServiciosFACTURA_ESTADO_ServiciosFACTURA_ESTADO"
                serializeAs="String">
                <value>http://localhost:52393/Model/Services/ServiciosFACTURA_ESTADO.asmx</value>
            </setting>
        </EscuelaConduccion.Properties.Settings>
    </applicationSettings>
</configuration>